:root {
    --color-purple: #513d86;
    --color-orange: #f86406;
    --color-green: #17704d;
    --color-cream: #fffaf5;

    --font-heading: 'Special Gothic Expanded One', sans-serif;
    --font-body: 'Liter', sans-serif;

    --max-width: 1100px;
    --section-spacing: 80px; /* Adjust as needed for vertical spacing */
}